
body
{
   background-color: #000000;
    color: #ffffff;
    text-align: center;
}

h1
{
  color: #eeeeee;
}

@media screen and (min-resolution:150dpi),screen and (-webkit-device-pixel-ratio:2)
{
   body
   {
       background-color: #c0392b;
   }

}