body
{
    background: #000;
    color: #fff;
    text-align: center;
}

h2
{
    color: #eee;
}

@media(min-device-height:320px)
{
    body
    {
        background: #f3581a;
    }
}

@media(min-width: 900px)
{
    body
    {
      background-color:#0381bb;
    }
}
